{% extends 'base.html' %}
{% load i18n i18n %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'js/questioning.js' %}"></script>
<div id="main_container">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cat_1"
                        aria-expanded="true" aria-controls="collapseOne">
                    <table class="table table-hover">
                        <tr class="table-primary">
                            <th scope="row"></th>
                            <td><h3>{% trans 'Тест на визначення профорієнтації' %}</h3></td>
                            <td></td>
                            <td>
                                <button type="button" onClick="ajaxRequest({{ 1 }})" class="btn btn-primary">
                                    {% trans 'Почати тест' %}
                                </button>
                            </td>
                        </tr>
                    </table>
                </button>
            </h2>
            <div id="cat_1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body"><p>
                    {% trans 'Вибір професії один з найважливіших етапів в життя' %}
                    {% trans 'людини, адже велика частина часу неспання (близько 60%) йде на роботу, підготовку і дорогу до неї' %}.
                    {% trans 'Від спеціальності залежить, в яких колах відбувається спілкування і чи будуть колеги сприяти' %}
                    {% trans 'розвитку особистості' %}.
                </p>
                    <p>
                        {% trans 'Всього 22% робочого населення задоволені своєю професією. Тому' %}
                        {% trans 'важливо вибирати улюблений напрямок діяльності для отримання задоволення від роботи і досягнення' %}
                        {% trans 'найвищих результатів, наприклад, за допомогою тесту на профорієнтацію' %}.
                    </p>
                    <p>
                        {% trans 'Часто складно знайти улюблену професію, особливо старшокласникам - без реальної робочої практики' %}

                        {% trans 'не зрозуміти' %}

                        {% trans 'істинний інтерес до сфери. Але гірше закінчити вуз і після усвідомити "це не моє". Рекомендуємо' %}

                        {% trans 'заздалегідь' %}

                        {% trans 'спробувати попрацювати стажистом і подивитися, як в реальності відбувається процес і чи' %}

                        {% trans 'подобається він' %}.
                    </p>
                    <p>
                        {% trans 'Неправильно обрану професійну діяльність з часом буде складно змінити через появу' %}.
                        {% trans "зобов'язань і складності почати з нуля. Буде потрібно витратити багато часу на перекваліфікацію" %}.,
                        {% trans 'роботу на початкових позиціях' %}.
                    </p>
                    <p>
                        {% trans "Важливо пам'ятати: «Мир прискорюється». І якщо раніше професія частіше була одна і на" %}
                        {% trans 'все життя, то зараз, швидше' %}
                        {% trans 'за все, доведеться змінити кілька. Тому важливо вміти адаптуватися і бути відкритим до нового' %}.
                        {% trans 'на досягнення високого професіоналізму потрібно багато часу. Андерс Еріксон з Університету штату' %}
                        {% trans 'Флорида, довів теорію "для досягнення майстерності в будь-якій справі необхідно 10 000 годин наполегливої практики' %}.
                    </p>
                    <p>
                        {% trans 'Кількість різних спеціальностей на даний момент - кілька тисяч, у кожної є своя' %}.
                        {% trans 'специфіка, особливості. Щоб не заплутатися у всьому цьому різноманітті і якось звузити пошуки ідеального' %}.
                        {% trans 'напрямки, можна пройти тест на профорієнтацію і тест Голланда' %}.
                    </p>
                    <p>
                        {% trans 'Всі професії можна розділити на кілька категорій' %}:
                    </p>
                    <ul>
                        <li>
                            {% trans 'людина (лікарі, викладачі, органи правопорядку, психологи, юристи)' %}
                        </li>
                        <li>
                            {% trans 'природа (ветеринар, еколог, агроном, біолог, геолог)' %}
                        </li>
                        <li>
                            {% trans 'техніка (водій, системний адміністратор, зварювальник, токар, автомеханік,' %}
                            {% trans 'електромонтер)' %}
                        </li>
                        <li>
                            {% trans 'знакова система (програміст, бухгалтер, економіст, перекладач, математик)' %}
                        </li>
                        <li>
                            {% trans 'художні образи (дизайнер, художник, архітектор, актор, режисер)' %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cat_2"
                        aria-expanded="true" aria-controls="collapseOne">
                    <table class="table table-hover">
                        <tr class="table-primary">
                            <th scope="row"></th>
                            <td><h3>{% trans 'Тест на визначення профорієнтації' %}</h3></td>
                            <td></td>
                            <td>
                                <button type="button" onClick="ajaxRequest({{ 2 }})" class="btn btn-primary">
                                    {% trans 'Почати тест' %}
                                </button>
                            </td>
                        </tr>
                    </table>
                </button>
            </h2>
            <div id="cat_2" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        {% trans 'Інший варіант тесту Клімова' %}.
                    </p>
                    <p>
                        {% trans 'Методика ґрунтується на класифікації професійних інтересів. Дозволяє встановити в якій' %}
                        {% trans 'галузі старшокласнику найкраще вибрати спеціальність, за якою він проходитиме професійне' %}
                        {% trans 'навчання після школи' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cat_3"
                        aria-expanded="true" aria-controls="collapseOne">
                    <table class="table table-hover">
                        <tr class="table-primary">
                            <th scope="row"></th>
                            <td><h3>{% trans 'Тест на визначення типу майбутньої професії' %}</h3></td>
                            <td></td>
                            <td>
                                <button type="button" onClick="ajaxRequest({{ 3 }})" class="btn btn-primary">
                                    {% trans 'Почати тест' %}
                                </button>
                            </td>
                        </tr>
                    </table>
                </button>
            </h2>
            <div id="cat_3" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{% trans '«Карта інтересів» є модифікованим варіантом методики,' %}.
                        {% trans 'опублікований А.Е.Голомштоком у збірнику «Профорієнтаційна робота у школі»' %}.
                        {% trans 'Модифікація зроблена співробітниками ВНДІ профтехосвіти' %}.
                    </p>
                    <p>
                        {% trans 'Дані, отримані за допомогою цієї методики, виявити не лише коло' %}.
                        {% trans 'інтересів учня, а й ступінь їхньої виразності, що має особливе значення у формуванні' %}.
                        {% trans 'мотивації вибору майбутньої професії' %}.</p>
                    <p>
                        {% trans 'Вивчення інтересів, способів учнів може здійснюватись методами' %}
                        {% trans '- від простих спостережень за їх успіхами у освоєнні навчальних дисциплін до використання' %}
                        {% trans 'різних анкет, опитувальників. Використання цієї методики дозволяє вперше' %}
                        {% trans 'проаналізувати інтереси, близькі до того чи іншого виду діяльності' %}.</p>
                    <p>
                        {% trans 'Заповнення банку у відповідь може працювати індивідуально або в групі' %}.
                        {% trans 'Методика "Карта інтересів" - опитувальник включає 174 питання, що відображають' %}
                        {% trans 'спрямованість інтересів у 19 сферах діяльності' %}.</p>
                    <p>
                        {% trans 'Бланк відповідей є матрицею з шести рядків і двадцяти колонок' %}.
                        {% trans 'Кожна колонка відповідає одній з таких сфер інтересів' %}:</p>
                    <p>
                    <ul>
                        <li>
                            1. · {% trans 'Біологія, хімія' %}
                        </li>
                        <li>
                            2. · {% trans 'Туризм' %}
                        </li>
                        <li>
                            3. · {% trans 'Інформаційні технології' %}
                        </li>
                        <li>
                            4. · {% trans 'Медицина' %}
                        </li>
                        <li>
                            5. · {% trans 'Фізика, математика' %}
                        </li>
                        <li>
                            6. · {% trans 'Інженерно-технічна сфера' %}
                        </li>
                        <li>
                            7. · {% trans 'Будівництво' %}
                        </li>
                        <li>
                            8. · {% trans 'Транспорт' %}
                        </li>
                        <li>
                            9. · {% trans 'Силові структури' %}
                        </li>
                        <li>
                            10. · {% trans 'Журналістика' %}
                        </li>
                        <li>
                            11. · {% trans 'Суспільна діяльність' %}.
                        </li>
                        <li>
                            12. · {% trans 'Педагогіка' %}
                        </li>
                        <li>
                            13. · {% trans 'Право, юриспруденція' %}
                        </li>
                        <li>
                            14. · {% trans 'Сфера обслуговування, торгівля' %}.
                        </li>
                        <li>
                            15. · {% trans 'Економіка та фінанси' %}
                        </li>
                        <li>
                            16. · {% trans 'Іноземні мови' %}
                        </li>
                        <li>
                            17. · {% trans 'Образотворче мистецтво, дизайн' %}
                        </li>
                        <li>
                            18. · {% trans 'Музичне та сценічне мистецтво' %}
                        </li>
                        <li>
                            19. · {% trans 'Фізкультура та спорт' %}
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
