{% load i18n i18n %}
{% load string_extras %}
{% load time_extras %}


{% with trip.legs.0 as info %}

<div class="trip-card border rounded my-3 d-flex flex-row justify-content-between bg-light">

    <div class="m-2 text-center">
        <div>{{ info.departureStation.name }}</div>
        <div>{{ info.departureStation.departureDate }}</div>
        <div>{{ info.departureStation.departureTime }}</div>
    </div>

    <div class="m-2 text-center">
        <div>{% trans 'Тривалість' %}</div>
        <div>{{ info.duration|left_strip:"0" }}</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </div>

    <div class="m-2 text-center">
        <div>{{ info.arrivalStation.name }}</div>
        <div>{{ info.arrivalStation.arrivalDate }}</div>
        <div>{{ info.arrivalStation.arrivalTime }}</div>

    </div>

    <div>
        <div class="mx-2 my-1">
            {% trans 'Типи вагонів' %}
        </div>
        <div>
            {% for type in info.wagonTypes %}
                <div class="m-2 p-1 border rounded">
                    <div>{{ type.name }}: {{ type.minPrice }}
                        - {{ type.maxPrice }} {{ type.currencyCode }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="h-100 d-flex flex-column justify-content-center">
            <a target="_blank" class="h-100"
               href="https://bus.proizd.ua/ru/seats?fromId={{ info.transInfo.departureStation.code }}&toId={{ info.transInfo.arrivalStation.code }}&date={{ info.departureStation.departureDate }}&transport={{ info.transInfo.number|encode_to_url }}&unitType={{ info.wagonTypes.0.code }}&unitClass={{ info.wagonTypes.0.classes.0.code }}">
                <button class="btn btn-secondary h-100 rounded-0 rounded-end px-2">
                    <div>
                        {% trans 'Купити' %}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </a>
        </div>
    </div>

</div>

{% endwith %}