{% extends 'base.html' %}
{% load i18n i18n %}
{% load static %}

{% block scripts %}
    <script src="{% static 'relocation/js/relocation_2.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
        <h2 class="my-4">Пошук квитків</h2>
    </div>

    <div class="container-fluid">
        <form method="post">{% csrf_token %}
            <div class="d-flex my-4">
                <div class="col-4 col-lg-2 p-2">
                    <label class="h3 d-block" for="region-select">{% trans 'Регіон' %}</label>
                    <select id="region-select" class="w-100"></select>
                </div>
                <div class="col-4 col-lg-2 p-2">
                    <label class="h3 d-block" for="city-select">{% trans 'Місто' %}</label>
                    <select id="city-select" class="w-100"></select>
                </div>
                <div class="col-4 col-lg-2 p-2">
                    <label class="h3 d-block" for="university-select">{% trans 'Університет' %}</label>
                    <select id="university-select" class="w-100"></select>

                </div>
            </div>
        </form>

        <div class="m-2">
            <button id="clear-filters-button" class="btn btn-warning">{% trans 'Очистити' %}</button>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <table class="table table-striped" id="results-table">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Назва' %}</th>
                    <th scope="col">{% trans 'Область' %}</th>
                    <th scope="col">{% trans 'Місто' %}</th>
                    <th scope="col">{% trans 'ВНЗ' %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

{% endblock %}
