{% load i18n i18n %}


<form action="" method="post" autocomplete="off" class="">
    {% csrf_token %}

    <div class="form-group mb-4">
        <div class="row">

            {% for choice, label in form.type.field.choices %}

                <div class="col">
                    <input type="radio" class="btn-check" value="{{ choice }}"
                               name="{{ form.type.html_name }}" id="{{ choice }}-id"
                               autocomplete="off" {% if form.type.value == choice %} checked {% endif %}>
                    <label class="btn btn-outline-success w-100" for="{{ choice }}-id">
                        {{ label }}
                    </label>
                </div>

            {% endfor %}

        </div>
    </div>


    <div class="form-group mb-4">
        <label for="departure-name">
            {{ form.departure_name.label_tag }}
        </label>
        <input type="text" class="form-control" id="departure-name"
               placeholder="" name="{{ form.departure_name.html_name }}"
               {% if form.departure_name.value %}
                   value="{{ form.departure_name.value }}"
               {% endif %}
        />

        <div class="small" id="departure-id-block">
                <span class="text-muted small">ID: </span>
                <input readonly type="text" class="station-id border-0 text-muted bg-transparent small"
                       id="departure-id" placeholder="" name="{{ form.departure_id.html_name }}"
                       {% if form.departure_id.value %}
                           value="{{ form.departure_id.value }}"
                       {% endif %}
                />
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="arrival-name">
            {{ form.arrival_name.label }}
        </label>
        <input type="text" class="form-control" id="arrival-name"
               placeholder="" name="{{ form.arrival_name.html_name }}"
               {% if form.arrival_name.value %}
                   value="{{ form.arrival_name.value }}"
               {% endif %}
        />

    <div class="small" id="arrival-id-block">
                <span class="text-muted small">ID: </span>
                <input readonly type="text" class="station-id border-0 text-muted bg-transparent small"
                       id="arrival-id" placeholder="" name="{{ form.arrival_id.html_name }}"
                       {% if form.arrival_id.value %}
                           value="{{ form.arrival_id.value }}"
                       {% endif %}
                />
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="departure-date">
            {{ form.date.label }}
        </label>
        <div>
            <input type="date" id="departure-date" class="w-100 form-control"
                   name="{{ form.date.html_name }}"
                   {% if form.date.value %}
                       value="{{ form.date.value }}"
                   {% endif %}
            />
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 w-100">{% trans 'Знайти' %}</button>
    </div>

</form>