{% extends 'base.html' %}

{% block content %}
    <div id="login-content">
        <div id="login-wrapper" class="col-md-4 mx-auto my-5">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <h4>Вхід</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login-username">
{#                                {{ form.username.label_tag }}#}
                                Ім'я або пошта
                            </label>
                            <input type="text" class="form-control" id="login-username"
                                   placeholder="" name="{{ form.username.html_name }}"
                                   {% if form.username.value %}
                                       value="{{ form.username.value }}"
                                   {% endif %}
                            />
                        </div>
                        <div class="form-group">
                            <label for="login-password">
{#                                {{ form.password.label_tag }}#}
                                Пароль
                            </label>
                            <input type="password" class="form-control" id="login-password"
                                   placeholder="" name="{{ form.password.html_name }}"
                                   {% if form.password.value %}
                                       value="{{ form.password.value }}"
                                   {% endif %}
                            />
                        </div>

                        {% if form.errors %}
{#                            {% for key, value in form.errors.items %}#}
{#                                <p>{{ key }}: {{ value }}</p>#}
{#                            {% endfor %}#}
                            <div class="text-danger my-3">
                                <p>Невірні дані для входу.</p>
                            </div>

                        {% endif %}
                        <div class="d-grid gap-2 my-3">
                            <button type="submit" class="btn btn-primary btn-b" id="login-submit">
                                Увійти
                            </button>
                        </div>
                    </form>
                    <div class="text-center">
                        <span class="d-inline-block"><a class="text-white" href="{% url 'password_reset' %}">Забули пароль?</a></span>
                        <span class="d-inline-block"><a class="text-white" href="{% url 'registration' %}">Зареєструватись</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}