{% extends "base.html" %}
{% load i18n i18n %}
{% block content %}

    <div class="text-center mt-4">

        {% if validlink %}

            <p>{% trans 'Будь ласка, введіть новий пароль' %}</p>

            <form action="" method="post">
                {% csrf_token %}

                        <div class="mt-2">
                            <label for="id_new_password1">
                                {% trans 'Новий пароль' %}:
                            </label>
                        </div>
                        <div>
                            {{ form.new_password1 }}
                        </div>
                        <div>
                            {{ form.new_password1.errors }}
                        </div>

                        <div class="mt-2">
                            <label for="id_new_password2">
                                {% trans 'Підтвердження пароля' %}:
                            </label>
                        </div>
                        <div>
                            {{ form.new_password2 }}
                        </div>
                        <div>
                            {{ form.new_password2.errors }}
                        </div>

                        <div>
                            <button type="submit" class="btn btn-secondary mt-3">
                                {% trans 'Змінити пароль' %}
                            </button>
                        </div>

            </form>

        {% else %}

            <h1>
                {% trans 'Невдала зміна пароля' %}
            </h1>
            <p>
                {% trans 'Неправильне посилання на зміну пароля' %}. {% trans 'Можливо, воно вже було використано' %}.
            </p>

        {% endif %}

    </div>
{% endblock %}