{% extends 'base.html' %}

{% block content %}

<div id="profile-content">

{#    <div id="profile-wrapper" class="col-sm-6 col-md-5 col-lg-4 col-xl-3 my-2 mx-auto">#}
    <div id="profile-wrapper" class="col-md-10 col-lg-8 col-xl-6 my-2 mx-auto">
{#    <div id="profile-wrapper" class="col-md-10 my-2 mx-auto">#}


        <div id="profile-header">
            <h5>Профіль</h5>
        </div>


        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#info">
                    Персональні дані
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#surveys">
                    Опитування
                </a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="info">
                    <ul>
                        <li>Username: {{ user.username }}</li>
                        <li>Email: {{ user.email }}</li>
                        <li>ID: {{ user.id }}</li>
                        <li>First name: {{ user.first_name }}</li>
                        <li>Last name: {{ user.last_name }}</li>
                        <li>Gender: {{ user.gender }}</li>
                        <li>City: {{ user.city }}</li>
                    </ul>
            </div>
            <div class="tab-pane fade" id="surveys">
                <div class="text-center my-3">
                    <h5>
                        Історія опитувань
                    </h5>
                </div>
                {% for result in results %}

                    <div class="my-4 pb-3 bg-light border rounded">
{#                        <div class="m-2 border d-flex justify-content-between">#}
                        <div class="d-flex justify-content-between my-2 mx-2">
                            <div class="small px-2 border rounded">
                                15/11/2021
                            </div>


                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" fill="#000"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" fill="#000"/>
                            </svg>

                        </div>

                        {% for profession in result %}

                            {% widthratio profession.points 8 100 as percent %}

                            {#                            <div class="m-2 border row">#}
                            <div class="row">
{#                                {{ percent }}#}
{#                                <div class="m-2 border col-3">#}
                                <div class="col-3">

{#                                    <div class="progress my-2 border">#}
                                    <div class="progress mx-4 mt-3">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                                 style="width: {{ percent }}%;"
                                                 aria-valuenow="{{ percent }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                {{ percent }}%
                                        </div>
{##}
{##}
{#                                        {% if percent >= 7 %}#}
{#                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"#}
{#                                                 style="width: {{ percent }}%;"#}
{#                                                 aria-valuenow="{{ percent }}"#}
{#                                                 aria-valuemin="0" aria-valuemax="100">#}
{#                                                {{ percent }}%#}
{#                                            </div>#}
{#                                        {% elif percent >= 40 %}#}
{#                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"#}
{#                                                 style="width: {{ percent }}%;"#}
{#                                                 aria-valuenow="{{ percent }}"#}
{#                                                 aria-valuemin="0" aria-valuemax="100">#}
{#                                                {{ percent }}%#}
{#                                            </div>#}
{#                                        {% else %}#}
{#                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"#}
{#                                                 style="width: {{ percent }}%;"#}
{#                                                 aria-valuenow="{{ percent }}"#}
{#                                                 aria-valuemin="0" aria-valuemax="100">#}
{#                                                {{ percent }}%#}
{#                                            </div>#}
{#                                        {% endif %}#}

                                    </div>
{#                                     result#}
{#                                    {{ forloop.parentloop.counter }}#}
{#                                     profession#}
{#                                    {{ forloop.counter }}#}
                                </div>

{#                                <div class="m-2 border col-8">#}
                                <div class="col-8">
{#                                    <div class="m-2 border">#}
                                    <div class="pt-1">
{#                                        Category:#}
{#                                        {{ profession.profession_info.category }}#}
                                        <button class="btn btn-light text-dark shadow-none" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                                    aria-expanded="false"
                                                    aria-controls="profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                {{ profession.profession_info.category }}
                                        </button>
{#                                        <hr class="d-inline-block jumbotron w-50"/>#}
{#                                        <div class="d-grid gap-2 my-2">#}
{#                                            <button class="btn btn-light" type="button" data-bs-toggle="collapse"#}
{#                                                    data-bs-target="#profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"#}
{#                                                    aria-expanded="false"#}
{#                                                    aria-controls="profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">#}
{#                                                {{ profession.profession_info.category }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <a class="btn btn-primary" data-bs-toggle="collapse"#}
{#                                        <a data-bs-toggle="collapse"#}
{#                                           href="#profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"#}
{#                                           role="button" aria-expanded="false"#}
{#                                           aria-controls="profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">#}
{#                                            Toggle element#}
{#                                        </a>#}

                                    </div>
                                    <div id="profession-details-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
{#                                         class="collapse border m-2">#}
                                         class="collapse">
{#                                        <div class="m-2 border">#}
                                        <div>
                                            <div>Опис:</div>
                                            <div>{{ profession.profession_info.description }}</div>
                                        </div>
{#                                        <div class="m-2 border">#}
                                        <div>
                                            <div>Приклади:</div>
                                            <div>{{ profession.profession_info.examples }}</div>
                                        </div>
                                    </div>

    {#                                <div class="m-1 border">#}
    {#                                    Points:#}
    {#                                    {{ profession.points }}/8#}
    {#                                </div>#}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endfor %}
            </div>
        </div>

    </div>

</div>
{% endblock %}
