{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/questioning.js' %}"></script>
    <div id="main_container">
        <div id="index-content">
            <h1 class="q__h1"> Тест на визначення профорієнтації</h1>
        </div>
        <div class="q__btn-bar">
            <button type="button" onClick="ajaxRequest()" class="c-button">Почати тест</button>
        </div>
        <div class="q__description" itemprop="description">
            <p>
                Вибір професії один з найважливіших етапів в життя
                людини, адже велика частина часу неспання (близько 60%) йде на роботу, підготовку і дорогу до неї.
                Від спеціальності залежить, в яких колах відбувається спілкування і чи будуть колеги сприяти розвитку
                особистості.
            </p>
            <p>
                Всього 22% робочого населення задоволені своєю професією. Тому
                важливо вибирати улюблений напрямок діяльності для отримання задоволення від роботи і досягнення
                найвищих
                результатів, наприклад, за допомогою тесту на профорієнтацію.
            </p>
            <p>
                Часто складно знайти улюблену професію, особливо старшокласникам - без реальної робочої практики не
                зрозуміти
                істинний інтерес до сфери. Але гірше закінчити вуз і після усвідомити "це не моє". Рекомендуємо
                заздалегідь
                спробувати попрацювати стажистом і подивитися, як в реальності відбувається процес і чи подобається він.
            </p>
            <p>
                Неправильно обрану професійну діяльність з часом буде складно змінити через появу
                зобов'язань і складності почати з нуля. Буде потрібно витратити багато часу на перекваліфікацію, роботу
                на
                початкових позиціях.
            </p>
            <p>
                Важливо пам'ятати: "Мир прискорюється". І якщо раніше професія частіше була одна і на все життя, то
                зараз,
                швидше за
                за все, доведеться змінити кілька. Тому важливо вміти адаптуватися і бути відкритим до нового. на
                досягнення високого професіоналізму потрібно багато часу. Андерс Еріксон з Університету штату Флорида,
                довів теорію "для досягнення майстерності в будь-якій справі необхідно 10 000 годин наполегливої
                практики".
            </p>
            <p>
                Кількість різних спеціальностей на даний момент - кілька тисяч, у кожної є своя специфіка,
                особливості. Щоб не заплутатися у всьому цьому різноманітті і якось звузити пошуки ідеального напрямки,
                можна пройти тест на профорієнтацію і тест Голланда.
            </p>
            <p>
                Всі професії можна розділити на кілька категорій:
            </p>
            <ul>
                <li>
                    людина (лікарі, викладачі, органи правопорядку, психологи, юристи)
                </li>
                <li>
                    природа (ветеринар, еколог, агроном, біолог, геолог)
                </li>
                <li>
                    техніка (водій, системний адміністратор, зварювальник, токар, автомеханік, тесля, електромонтер)
                </li>
                <li>
                    знакова система (програміст, бухгалтер, економіст, перекладач, математик)
                </li>
                <li>
                    художні образи (дизайнер, художник, архітектор, актор, режисер)
                </li>
            </ul>
            <p>
                Щоб скоротити сферу пошуку майбутньої професії можна ще пройти
                <a href="/ questioning / professional-interests-aptitudes-and-abilities /">
                    тест на професійні інтереси </a>.
            </p>
        </div>
    </div>
{% endblock %}